.App {
  font-family: 'Poppins', sans-serif;
  overflow-wrap: normal;
  overflow-wrap: break-word;
}

.stories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.myListNotes {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 620px;
  height: 350px;
  overflow: scroll;
  text-align: center;
}

.topStoriesList {
  width: 300px;
  height: 350px;
  overflow: scroll;
  text-align: left;
  line-height: 25px;
  text-align: center;
}

.abstract {
  width: 300px;
  height: 350px;
}

.story {
  text-align: center;
}

h1 {
  color: #7a8990;
  text-align: center;
}

a, p, h4 {
  padding: 10px;
}

